


<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  
<!-- Navbar brand -->
<logo><a class="navbar-brand" href="#">Navbar</a></logo>

<!-- Collapsible content -->
<links>

<!-- Links -->
<ul class="navbar-nav mr-auto">
   <li class="nav-item active">
       <a class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
   </li>
   <li class="nav-item">
       <a class="nav-link waves-light" mdbRippleRadius>Features</a>
   </li>
   <li class="nav-item">
       <a class="nav-link waves-light" mdbRippleRadius>Pricing</a>
   </li>

   <!-- Dropdown -->
   <li class="nav-item dropdown" dropdown>
       <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
       Basic dropdown<span class="caret"></span></a>
       <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
           <a class="dropdown-item waves-light" mdbRippleRadius href="#">Action</a>
           <a class="dropdown-item waves-light" mdbRippleRadius href="#">Another action</a>
           <a class="dropdown-item waves-light" mdbRippleRadius href="#">Something else here</a>
           <div class="divider dropdown-divider"></div>
           <a class="dropdown-item waves-light" mdbRippleRadius href="#">Separated link</a>
       </div>
   </li>

</ul>
<!-- Links -->

<!-- Search form -->
<form class="form-inline  waves-light" mdbRippleRadius>
   <input class="form-control mr-sm-2" type="text" placeholder="Search">
</form>
</links>
<!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
   


<!--
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <ul class="nav nav-tabs">
        <li class="nav-item" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/" class="nav-link">{{ 'HOME' | translate }}</a>
        </li>
        <li class="nav-item" role="presentation" routerLinkActive="active">
          <a routerLink="/servers" class="nav-link">{{ 'SERVERS' | translate }}</a>
        </li>
        <li class="nav-item" role="presentation" routerLinkActive="active">
          <a [routerLink]="['/users']" class="nav-link">{{ 'USERS' | translate }}</a>
        </li>
      </ul>
    </div>
    
    <div class="form-group">
        <select
        (change)="toogleLanguage($event.target.value)"
          class="form-control"
          >
          <option value="en" [selected]="translatorContainer.language === 'en'" translate="LANGENG"></option>
          <option value="ar" [selected]="translatorContainer.language === 'ar'" translate="LANGARAB"></option>
          <option value="ch" [selected]="translatorContainer.language === 'ch'" translate="LANGCHINA"></option>
        </select>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
 
</div>
-->

                                    
                                    
<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary waves-light" mdbRippleRadius>Primary</button>

<!-- Default button -->
<button type="button" class="btn btn-default waves-light" mdbRippleRadius>Default</button>

<!-- Secondary button -->
<button type="button" class="btn btn-secondary waves-light" mdbRippleRadius>Secondary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success waves-light" mdbRippleRadius>Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info waves-light" mdbRippleRadius>Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning waves-light" mdbRippleRadius>Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger waves-light" mdbRippleRadius>Danger</button>


<div class="md-form">
  <input mdbActive type="text" id="form1" class="form-control">
  <label for="form1" class="">Example label</label>
</div>
     
<div class="md-form form-sm">
  <input mdbActive type="text" id="form1" class="form-control">
  <label for="form1" class="">Example label</label>
</div>
     
<div class="md-form">
  <i class="fa fa-envelope prefix"></i>
  <input mdbActive type="text" id="form2" class="form-control">
  <label for="form2">Example label</label>
</div>

<!--<form class="form-inline">
  
      <div class="md-form form-group">
          <i class="fa fa-envelope prefix"></i>
          <input mdbActive type="email" class="form-control" id="form9" name="email" mdbInputValidate>
          <label class="active" for="form9">Type your e-mail</label>
      </div>
      <div class="md-form form-group">
          <i class="fa fa-lock prefix"></i>
          <input mdbActive type="password" class="form-control" id="form10" name="password" mdbInputValidate>
          <label class="active" for="form10">Type your password</label>
      </div>
  
      <div class="md-form form-group">
          <a class="btn btn-primary btn-lg waves-light" mdbRippleRadius>Login</a>
      </div>
  
  </form> -->